[submodule "1_3d_pose_estimation"]
	path = 1_3d_pose_estimation
	url = https://gitlab.ethz.ch/narrat3d/pictorial-maps-3d-poses.git
[submodule "4_texture_inpainting"]
	path = 4_texture_inpainting
	url = https://gitlab.ethz.ch/narrat3d/pictorial-maps-3d-textures.git
